---
import BaseLayout from "@layouts/BaseLayout.astro";
import Link from "@components/Link.astro";

const title = "Archive Works";
const description = "これまで作ったものの一部をとりあえず放っておく場所";
---

<BaseLayout title={title} description={description}>
  <article class="slate">
    <section>
      <div>
        <h1 style={{ fontSize: "2.25rem", lineHeight: "2.5rem" }}>
          制作物などなど
        </h1>
        <p style={{ color: "var(--char-note)" }}>ごちゃごちゃまぜまぜ</p>
      </div>
      <hr id="navi-will-change" />
      <div style={{ textAlign: "center", marginTop: "30vh" }}>
        こちらも準備中...
        <div>
          リニューアルまでの間は
          <Link
            href="https://xeramiya.vercel.app/archive"
            style={{ color: "var(--char-link)", textDecoration: "underline" }}
          >
            これまでのxeramiya.net
          </Link>
          をお楽しみください
        </div>
      </div>
    </section>
  </article>
</BaseLayout>
