@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-serif text-4xl;
  }
  h2 {
    @apply font-serif text-3xl;
  }
  h3 {
    @apply font-serif text-2xl;
  }
  h4 {
    @apply font-serif text-xl;
  }
  h5 {
    @apply font-serif text-lg;
  }
  h6 {
    @apply font-serif text-base;
  }
  p {
  }
}

@layer components {
  .stand {
    @apply mx-auto max-w-screen-slate pt-11;
  }

  .string {
    @apply mx-1 inline-flex h-9 w-9 items-center justify-center;
  }

  .string-icon {
    @apply h-8 w-8 fill-char-note active:opacity-70;
  }

  .note {
    @apply font-sans text-char-note;
  }

  .stroke-round {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .xeramiya-x-icon-rainbow {
    path {
      fill: url(#xeramiya-x-icon-rainbow);
    }
    .stop1 {
      animation: stop1 4s ease-in-out infinite alternate;
    }
    .stop2 {
      animation: stop2 9s ease-in-out infinite alternate;
    }
    .stop3 {
      animation: stop3 6s ease-in-out infinite alternate;
    }
    .stop4 {
      animation: stop4 5s ease-in-out infinite alternate;
    }
    .stop5 {
      animation: stop5 8s ease-in-out infinite alternate;
    }
    @keyframes stop1 {
      0% {
        stop-color: #35c3f3;
      }
      100% {
        stop-color: #7bb4ff;
      }
    }
    @keyframes stop2 {
      0% {
        stop-color: #8b9fe8;
      }
      100% {
        stop-color: #d1cafe;
      }
    }
    @keyframes stop3 {
      0% {
        stop-color: #e681d8;
      }
      100% {
        stop-color: #f7cde5;
      }
    }
    @keyframes stop4 {
      0% {
        stop-color: #ffa9a4;
      }
      100% {
        stop-color: #f3f2f0;
      }
    }
    @keyframes stop5 {
      0% {
        stop-color: #fed2ce;
      }
      100% {
        stop-color: #76ebfd;
      }
    }
  }
}

@layer utilities {
  .piece {
    & h1 {
      @apply mt-20;
    }
    & h2 {
      @apply mt-20;
    }
    & h3 {
      @apply mt-14;
    }
    & h4 {
      @apply mt-9;
    }
    & h5 {
      @apply mt-6;
    }
    & h6 {
      @apply mt-4;
    }

    & div {
      & > p {
        @apply mt-2 leading-loose;
      }
    }
    & a {
      @apply text-char-link hover:bg-media hover:underline;
    }
    & em {
      @apply font-light italic;
    }
    & strong {
      @apply font-bold;
    }

    & ul {
      @apply mt-2 pl-8;
      & > li {
        @apply mt-2 list-disc;
      }
    }
    & ol {
      @apply mt-2 pl-8;
      & > li {
        @apply mt-2 list-decimal;
      }
    }

    & code {
      @apply font-mono text-char-main;
    }
    & pre {
      @apply mt-2 rounded-lg bg-nand-dark py-2 pl-8;
      & > code {
        @apply my-0 text-zWhite;
      }
    }

    & hr {
      @apply my-11 border-char-note;
    }

    & blockquote {
      @apply ml-4 mt-2 border-l-2 border-char-note py-0.5;
      & > p {
        @apply ml-2 text-char-note;
      }
    }
  }
}

/*
html {
  font-family: 'M PLUS 1p', sans-serif;
}
*/

:root {
  --background: #16191b;
  --primary: #008899;
  --error: #ba160c;
  --glass: #00000016;
  --media-default: #000000;
  --media-invert: #ffffff;
  --char-main: #fffaf0;
  --char-note: #aaa59d;
  --char-link: #f33968;
  --char-glass: #dadada;
  --char-error: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f6f4;
    --primary: #008899;
    --error: #ba160c;
    --glass: #ffffff16;
    --media-default: #ffffff;
    --media-invert: #000000;
    --char-main: #252b2c;
    --char-note: #aaa59d;
    --char-link: #f33968;
    --char-glass: #434343;
    --char-error: #ffffff;
  }
}
