@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-serif text-4xl;
  }
  h2 {
    @apply font-serif text-3xl;
  }
  h3 {
    @apply font-serif text-2xl;
  }
  h4 {
    @apply font-serif text-xl;
  }
  h5 {
    @apply font-serif text-lg;
  }
  h6 {
    @apply font-serif text-base;
  }
  p {
  }
}

@layer components {
  .stand {
    @apply mx-auto max-w-screen-slate pt-11;
  }

  .string {
    @apply mx-1 inline-flex h-9 w-9 items-center justify-center;
  }

  .string-icon {
    @apply h-8 w-8 fill-char-note duration-200 active:opacity-70;
  }

  .note {
    @apply font-sans text-char-note;
  }

  .stroke-round {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .ultra-wide {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
}

@layer utilities {

}

/*
html {
  font-family: 'M PLUS 1p', sans-serif;
}

:root {
  --background: #16191b;
  --primary: #008899;
  --error: #ba160c;
  --glass: #00000016;
  --media-default: #000000;
  --media-invert: #ffffff;
  --char-main: #fffaf0;
  --char-note: #aaa59d;
  --char-link: #f33968;
  --char-glass: #dadada;
  --char-error: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f6f4;
    --primary: #008899;
    --error: #ba160c;
    --glass: #ffffff16;
    --media-default: #ffffff;
    --media-invert: #000000;
    --char-main: #252b2c;
    --char-note: #aaa59d;
    --char-link: #f33968;
    --char-glass: #434343;
    --char-error: #ffffff;
  }
}
*/