.hyper-stitch-1,
.hyper-stitch-2,
.hyper-stitch-3 {
  animation-name: tunnel-effect;
  animation-duration: 3.9s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.hyper-stitch-1 {
  animation-delay: 0s;
}
.hyper-stitch-2 {
  animation-delay: 1.3s;
}
.hyper-stitch-3 {
  animation-delay: 2.6s;
}

@keyframes tunnel-effect {
  0% {
    border: 0rem solid;
    opacity: 72%;
    transform: scale(0);
  }
  100% {
    border: 3rem solid;
    opacity: 0%;
    transform: scale(1);
  }
}

.hyper-rainbow {
  background: linear-gradient(63.5deg, #ff000047 16%, #0000ff47 72%),
    linear-gradient(-45deg, #99ff0036 47%, #0000ff36 96%);
}