---
import BaseLayout from "@layouts/BaseLayout.astro";
const title = "Xeramiya.net";
const description = "Xeramiyaのとてもよくできたホームページ";
---

<BaseLayout title={title} description={description}>
  <article>
    <section>
      <div
        style={{ marginTop: "40vh", fontSize: "1.5rem", textAlign: "center" }}
        class="font-serif"
      >
        <span>CURRENTLY</span>
        <span>&nbsp;UNDER</span>
        <span>&nbsp;RECONSTRUCTION</span>
      </div>
    </section>
  </article>
</BaseLayout>
