---
import packageJson from "@/package.json";
---

<style>
  footer {
    user-select: none;
    -webkit-user-select: none;
  }
</style>

<footer
  style={{
    width: "100%",
    marginTop: "20vh",
    padding: "0.4rem",
    position: "sticky",
    top: "100vh",
    textAlign: "right",
  }}
>
  <a
    href="https://github.com/xeramiya/xeramiya.net"
    aria-label="Source Code"
    target="_blank"
    rel="noopener noreferrer"
    style={{
      color: "var(--char-note)",
      fontFamily: "var(--font-mono)",
    }}
  >
    Xeramiya.net - v{packageJson.version}
  </a>
</footer>
