@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .hamburger {
    
  }
  .string {
    @apply inline-flex items-center justify-center h-8 w-8 mx-1 rounded-lg hover:rounded-full
  }
  .stroke-round {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

@layer utilities {

}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#uebitLogoLine {
  position: absolute;
  transition: 800ms;
  stroke-width: 16;
  fill-opacity: 0;
}

#uebitLogoFace {
  position: absolute;
  transition: 800ms;
  stroke-width: 0;
  fill-opacity: 0;
}



.c-nav-btn {
  height: 44px;
  width: 44px;
  position: absolute;
  background: none;
  border: none;
}

.c-nav-btn::after,
.c-nav-btn::before {
  position: absolute;
  top: calc(50% - 1px);
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background: #333;
}

.c-nav-btn::before {
  transform: translateY(-8px);
  box-shadow: 0 8px 0 #333;
}

.c-nav-btn::after {
  transform: translateY(8px)
}