@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --theme-color: #008899;
  --theme-color-2: #BA160C;
  --text-color: #FFFFFF;

  --splash-transition-time: 200ms;
}


#uebitLogoFace {
  position: absolute;
  transition: var(--splash-transition-time);
  stroke-width: 0;
  fill-opacity: 1;
}
