@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-serif text-4xl;
  }
  h2 {
    @apply mt-8 font-serif text-3xl;
  }
  h3 {
    @apply mt-4 font-serif text-2xl;
  }
  h4 {
    @apply mt-4 font-serif text-xl;
  }
  h5 {
    @apply mt-4 font-serif text-lg;
  }

  p {
    @apply mt-2 mb-6;
  }
}

@layer components {
  .string {
    @apply mx-1 mb-2 inline-flex items-center justify-center rounded-xl w-12 h-12 hover:rounded-3xl;
  }

   .note {
    @apply text-char-note;
   }

  .stroke-round {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

:root {
  --background: #16191b;
  --primary: #008899;
  --error: #ba160c;
  --on-error: #ffffff;
  --glass: #00000047;
  --on-glass: #ffffff;
  --char-main: #fffaf0;
  --char-note: #AAA59D;
  --char-link: #f33968;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f6f4;
    --primary: #008899;
    --error: #ba160c;
    --on-error: #ffffff;
    --glass: #ffffff47;
    --on-glass: #000000;
    --char-main: #252b2c;
    --char-note: #AAA59D;
    --char-link: #f33968;
  }
}
